# Node modules
node_modules/

# Logs
npm-debug.log*
.yarn-debug.log*
.yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# OneDrive temp files
~$*

# Build output
dist/

# Ignore webcam captures or large media
*.mp4
*.mov
*.webm

